nav a{
  color: black;
  text-decoration: none;
}
nav a:hover{
  color: $input_color;
}

.nav__item--current a{
  text-decoration: $input_color underline ;
  text-underline-offset: 0.7rem;
  color: $input_color;

}


nav.nav li a {
  display: inline-block;
  position: relative;
}

nav.nav li a:after {
  content: '';
  position: absolute;
  width: 40%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.7rem;
  left: 0;
  background-color: $input_color;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav.nav li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.nav__toggle{
  margin-top: 3.6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.logo svg{
  width: 150px;
  height: auto;

}





   .menuOpen svg{
    width: 20px;
    height: auto;
  }
  .menuClose svg{
    width: 30px;
    height: auto;
}
  .menuOpen{
    display: none;
  }

  .navIcon{
    display: grid;
  }

  .layer1, .layer2, .layer3{
    grid-column: 1;
    grid-row: 1;
  }
  .layer1{
    z-index: 3;
  }
  input[type=checkbox]
  {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2.3); /* IE */
    -moz-transform: scale(2.3); /* FF */
    -webkit-transform: scale(2.3); /* Safari and Chrome */
    -o-transform: scale(2.3); /* Opera */
    transform: scale(2.3);
    opacity: 0;
    cursor: pointer;
  }

  .nav__container{
    display: none;
  }
  input:checked ~ ul{
    padding-top: 3.6rem;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: center;
    row-gap: 2.4rem;

    background-color: $bg_color;
    margin-right: -4Rem;
    width: 100vw;
    height: 100vh;
  }
  input:checked ~ .layer2{
    display: none;
  }
  input:checked ~ .layer3{
    display: block;
    margin-left: 3.6rem;

  }
  input:checked ~ .layer3, input:checked {
    margin-left: 3.6rem;

  }

@media (min-width: 650px){

  .nav{
    &__container{
      display: flex;

    }
    &__link{
      margin-right: 2.4rem;
    }

    }


 nav input, nav.nav div#menuToggle div.navIcon .layer2 {
    position: absolute;
    overflow: hidden;
    clip:rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border:0;
  }


}


